.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/_site/
/_book/
.DS_Store
/code/
/calculating-neighborhood_cache/
/calculating-neighborhood_files/
/docs/
calculating-marginal-effects_cache
calculating-marginal-effects_files
metaregression-comparisons_cache
metaregression-comparisons_files
